<article class="newComment">
        <div id="formMain">
            <form id="formContent">
                <label id="commentHeading">Comment:</label> <br>
                <textarea name="blogpost" id="commentContent" cols="50" rows="2"></textarea>
                <br>
                <button type="submit" id="postSubmit">Submit</button>
            </form>
        </div>
</article>
