<div class="card">
    <h4 class="card-title">{{renderData.blog_title}}</h4>
        <div class="card-body">
            {{renderData.blog_content}}
        </div>
</div>
<div class="container"id="commentForm">
{{> commentsform}}
</div>

<div class="container comments"></div>
    <h4>Comments </h4>
    {{#each renderData.comments as |comment|}}
   
    <div class="card">    
        <div class="card-title">

        </div>    
             <div class="card-body">
            {{comment.comment_body}}
            </div>
        <div class="card-subtitle">
            {{comment.name}}
        </div>
    </div>
    {{/each}}
   

</div>    
   
<script src="/js/createComment.js"></script>
