<article id="sign-up-container">
    <form id="sign-up-form">
        <section id="user-information-section">
        <h2>User Information //</h2>    
            {{!--First Name --}}
            <input type="text" id="formUserName" name="fname" placeholder="Select a User Name" required="required">
            <hr>
            <input type="email" id="formEmail" placeholder="EMAIL ADDRESS" required="required">
            {{!-- password --}}
            <input type="password" id="formPassword" placeholder="PASSWORD" required="required">
            
            <input type="submit" id="postFormSubmit" name="formSubmit" value="Submit">
        </section>
    </form>
</article>

<script src="/js/createAccount.js"></script>